.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.hidden{
  display: none;
}

.col.right {
  align-items: flex-end;
}

.App {
  width: 400px;
  margin: 0 auto;
}
.logo {
  height: 120px;
}
.logo img {
  margin-top: 60px;
}
.section {
  margin-bottom: 50px;
}

.section .header {
  font-size: 12px;
  color: #808080;
  margin-bottom: 10px;
}

.items .item {
  margin-bottom: 10px;
}

.item {
  color: #808080;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  position: relative;
}
.item-content {
  width: 100%;
  padding: 10px 15px;
}

.item .pre-header {
  font-size: 12px;
  text-align: right;
}

.item .title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.item .footer,
.footer .col{
  align-self: flex-end;
}

.item .timer {
  font-size: 20px;
  font-weight: normal;
  color: #4d4d4d;
}
.item .footer .controls {
  
}


.item .ant-progress{
  height: 3px;
}

.item .ant-progress-inner {
  border-radius: 0px;
  background-color: transparent;
  vertical-align: top;
}

.item  .ant-progress-bg{
  border-radius: 0px;
}

.item.active .ant-progress-bg{
  background-color: #56d056;
}

.item.active {
  color: #666666;
  background-color: #dbffcb;
  border: none;
}

.item.pending .ant-progress-bg{
  /* background-color: #ddd; */
}

.item.finished {
  background-color: #ffffff;
  color: #c5c5c5;
}

.item.finished  .ant-progress-bg{
  background-color: #dedede;
}

.item.finished .controls {
  background-color: #ffffff;
  color: #c5c5c5;
}



.control-bar {
  margin-bottom: 50px;
  border: 1px solid #ccc;
}

.control-bar  .ant-input{
  padding-top: 25px;
  padding-bottom: 25px;
}

.control-bar  .ant-input,
.control-bar  .ant-input-number  {
  border: none;
  border-radius: 0;
}

.control-bar  .ant-input-number-input{
  padding:0 10px !important;
}

.control-bar  .ant-menu-item-selected:not(:last-child){
  border-bottom: 2px solid transparent;
  font-weight: bold;
}

.control-bar  .ant-menu-item-active:not(:last-child) {
  border-bottom: 2px solid transparent;
}