body {
  font-family: Helvetica, Arial, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.col.right {
  align-items: flex-end;
}

.App {
  width: 400px;
  margin: 0 auto;
}

.section {
  margin-bottom: 50px;
}

.section .header {
  font-size: 12px;
  color: #808080;
  margin-bottom: 10px;
}

.items .item {
  margin-bottom: 10px;
}

.item {
  color: #808080;
  padding: 10px 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.item .pre-header {
  font-size: 12px;
  text-align: right;
}

.item .title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;
}

.item .footer {
  margin-bottom: 5px;
}
.item .footer .timer {
  font-size: 18px;
  font-weight: 100;
}
.item .footer .controls {
 
}

.item .footer button {
  display: inline-block;
}


.item .progress {
}

.item.active {
  color: #666666;
}
.item.pending {
}

.item.finished {
}
