.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.hidden {
    display: none;
}

.col.right {
    align-items: flex-end;
}

small.muted {
    color: #aaaaaa;
}
.right {
    text-align: right;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.App {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-menu {
    margin-bottom: 35px;
    padding-top: 50px;
}
.logo {
    height: 120px;
}
.logo img {
    position: relative;
    top: 45%;
}
.section {
    margin-bottom: 50px;
}

.section .header {
    font-size: 12px;
    color: #808080;
    margin-bottom: 10px;
}

.section .header .menu-item {
    font-size: 12px;
    color: #838282;
}
.section .header .menu-item .anticon {
    font-size: 14px;
}
.section .header .menu-item:hover {
    color: #1890ff;
}

/* animation for tasks */
@keyframes loadTask {
    0% {
        top:-5px;
        opacity: 0;
    }
    100% {
        top:0;
        opacity: 1;
    }
}
.tasks {
}

.tasks .task {
    margin-bottom: 10px;
}
.tasks ul {
    padding:0;
}


.task {
    color: #808080;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    position: relative;
    
    animation: loadTask;
    animation-duration: 0.2s;

    transition: all 0.2s;
}
.task.dragging {
    opacity: 0.7;
}
.task:hover {
    border: 1px solid #b4b2b2;
}

.task-content {
    width: 100%;
    padding: 10px 15px;
}

.task .pre-header {
    font-size: 12px;
    /* text-align: right; */
}

.task .title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.task .footer,
.footer .col {
    align-self: flex-end;
}

.task .timer {
}
.task .timer span[class$='-suffix'] {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 8px;
    /* font-style: italic; */
    font-size: 12px;
}

.task .footer .controls {
}

.task .ant-progress {
    display: block;
}
.task .ant-progress,
.task .ant-progress + div,
.task .ant-progress-outer {
    height: 3px;
}

.task .ant-progress-inner {
    background-color: transparent;
    vertical-align: top;
}

.task.active .ant-progress-bg {
    background-color: #56d056;
}

.task.active {
    color: #666666;
    background-color: #dbffcb;
    border: none;
}
.task.edit .new-task {
    border: none;
}
.task.edit {
    color: #666666;
    background-color: rgba(26, 144, 255, 0.096);
    border-color: rgba(26, 144, 255, 0.199);
    margin: 20px 0;
    z-index: 100;
}
.task.edit:hover {
    border-color: rgba(26, 144, 255, 0.26);
}

.task.pending .ant-progress-bg {
    /* background-color: #ddd; */
}

.task.finished {
    background-color: #ffffff;
    color: #c5c5c5;
}

.task.finished .ant-progress-bg {
    background-color: #dedede;
}

.task.finished .controls {
    background-color: #ffffff;
    color: #c5c5c5;
}

.task.stacked {
    box-shadow:
        /* The second layer */ 0 10px 0 -5px rgb(241, 240, 240),
        /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* The third layer */ 0 20px 0 -10px rgb(247, 247, 247),
        /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}
.task.stacked.n2 {
    box-shadow:
        /* The second layer */ 0 10px 0 -5px rgb(241, 240, 240),
        /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15) !important;
}

/**
 * New Task
 *
 * Modifies default ant.design css rules to adapt the design to our requirements.
 */
.new-task {
    /* margin-bottom: 5px; */
    border: 1px solid #ccc;
    /* border-bottom-right-radius: 25px; */
}
.new-task .ant-menu {
    border-bottom-color: transparent;
    background: none;
}

.new-task .ant-input {
    padding-top: 25px;
    padding-bottom: 25px;
    background: none;
}

.new-task .ant-input,
.new-task .ant-input-number {
    border: none;
    border-radius: 0;
}

.new-task .ant-input-number-input {
    padding: 0 10px !important;
}

/* .new-task .ant-menu-item-selected:not(:last-child) */
.new-task .ant-menu-item-selected {
    border-bottom: 2px solid transparent;
    font-weight: bold;
}

.new-task .ant-menu-item.ant-menu-item-selected.numberInput {
    border-bottom: 2px solid #1890ff;
}

/* .new-task .ant-menu-item-active:not(:last-child) {
    border-bottom: 2px solid transparent;
} */

.new-task .ant-menu-item:hover {
    border-bottom: 2px solid transparent;
}

.new-task .anticon {
    margin: auto;
}

.new-task .ant-btn {
    /* line-height: 1.5; */
}

.new-task .ant-btn:not(.ant-btn-sm) > .anticon {
    /* line-height: 2.5; */
}

/**
 * Time Slider
 *
 * Modifies default ant.design css rules to adapt the design to our requirements.
 */

.timer-slider {
    height: 28px;
    position: relative;
    /* background-color: #efefef; */
}
.timer-slider .ant-slider {
    position: relative;
    margin-bottom: 0;
    margin-right: 25px;
    margin-left: 25px;
    top: 18px;
}

.timer-slider .ant-slider-rail {
    display: none;
}

.timer-slider .ant-slider-track {
    height: 6px;
    border-radius: 0;
    background-color: #1890ff;
    opacity: 0.15;
    transition: all 0.2s;
}

.timer-slider .ant-slider-step {
}

.timer-slider .ant-slider-dot {
    border-radius: 0;
    border: 0;
    width: 1px;
    background-color: transparent;
    margin: 0;
}
.timer-slider .ant-slider-dot-active {
    background-color: #1890ff !important;
    opacity: 0.5 !important;
}

.timer-slider .ant-slider-dot:nth-child(-n + 5) {
    background-color: #000;
    opacity: 0.15;
    width: 1px;
    height: 12px;
    top: -6px;
}

.timer-slider .ant-slider-mark {
    font-size: 10px;
    top: -18px;
}
.timer-slider .ant-slider-mark-text {
    color: #000;
    opacity: 0.35;
}
.timer-slider .ant-slider-mark-text-active {
    opacity: 0.7;
}

.timer-slider .ant-slider-handle {
    border-radius: 0;
    border: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    bottom: -20px;
    cursor: grab;
}
.timer-slider .ant-slider-handle:active {
    cursor: grabbing;
}
.timer-slider .ant-slider-handle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.timer-slider .ant-slider-handle:after {
    content: '';
    position: absolute;
    opacity: 0;
    left: 50%;
    transform: translateX(-47%);
    width: 19px;
    height: 5px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    bottom: 12px;

    transition: all 0.2s;
}
.timer-slider:hover .ant-slider-handle:after {
    opacity: 1;
}

.timer-slider .ant-slider-handle:hover:after {
    opacity: 1;
    border: 1px solid rgba(24, 144, 255, 0.6);
    height: 21px;
    width: 21px;
    bottom: 10px;
}
.timer-slider .ant-slider-handle:focus:after {
    border: 1px solid rgba(24, 144, 255, 0.6);
}
.timer-slider .ant-slider-handle:active:after {
    opacity: 1;
    border: 1px solid rgba(24, 144, 255, 1);
    /* box-shadow: 0 5px 30px rgba(24, 144, 255, 0.6); */
}

.timer-slider .ant-slider-handle:before {
    content: '';
    position: absolute;
    opacity: 0;

    left: 30%;
    width: 5px;
    height: 5px;
    background-color: transparent;

    border-radius: 10px;
    bottom: 5px;
    transform: scale(1, 1);
    transition: all 0.2s;
    border: 0px solid rgba(24, 144, 255, 0.07);
}

.timer-slider .ant-slider-handle:hover:before {
    transform: scale(3, 3);
    border: 7px solid rgba(24, 144, 255, 0.07);
}
.timer-slider .ant-slider-handle:active:before {
    opacity: 1;
    width: 21px;
    height: 21px;
    bottom: 10px;
}

.pop {
    /* transform: scale(1.2,1.2); */
    color: rgba(24, 144, 255, 0.65);
}

.step-counter .ant-btn-link {
    transition: all 0.1s !important;
    color: #aaa;
}
.step-counter .ant-btn-link:hover {
    color: #40a9ff;
}
.step-counter .ant-btn-link:active {
    transform: scale(1.2, 1.2);
}

.step-counter .ant-btn-link:nth-child(1) {
    padding-left: 13px;
}
.step-counter strong {
    margin-right: 3px;
}

.ant-divider-horizontal {
    margin: 0;
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.task-wrapper {
    margin-top: 50px;
}

.mobile-create-button {
    margin: 10px;
    float: right;
}

.hide-on-mobile {
    display: inherit;
}

.show-on-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: inherit;
    }

    .logo {
        height: 80px;
    }

    .hide-on-mobile.mobile-create-button-main {
        padding-left: 0px !important;
        display: none;
    }

    /* .new-task .ant-menu {
        border-bottom-color: #e8e8e8;
    } */

    .timer-slider .ant-slider-handle:after {
        opacity: 1;
    }

    .step-counter .ant-btn {
        padding: 0 15px;
    }
    .step-counter .ant-btn:nth-child(2) {
        padding: 0 10px;
    }

    .section .header .menu-item {
        margin-left: 10px;
    }

    .section .header .menu-item .anticon {
        font-size: 12px;
    }

}
